<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrli.bootblockchain.mapper.JournalArticleAnimalSubjectMapper">

    <resultMap id="BaseResultMap" type="com.mrli.bootblockchain.domain.JournalArticleAnimalSubject">
            <id property="animalSubjectId" column="animal_subject_id" jdbcType="BIGINT"/>
            <result property="animalSubject" column="animal_subject" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        animal_subject_id,animal_subject
    </sql>
</mapper>
