<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrli.bootblockchain.mapper.JournalArticleRequiredFilesMapper">

    <resultMap id="BaseResultMap" type="com.mrli.bootblockchain.domain.JournalArticleRequiredFiles">
            <id property="requiredFileId" column="required_file_id" jdbcType="BIGINT"/>
            <result property="requiredFileName" column="required_file_name" jdbcType="VARCHAR"/>
            <result property="articleId" column="article_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        required_file_id,required_file_name,article_id
    </sql>
</mapper>
